doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Create New Pet
        a(href="/") Return to the homepage
        
        form(method="POST")
            label(for="name") Pet's Name:
            input(type="text" name="name" required)
            
            label(for="pet_breed") Breed:
            input(type="text" name="pet_breed" required)
            
            label(for="pet_age") Age:
            input(type="text" name="pet_age" required)
            
            input(type="submit" value="Submit")